[package]
name = "cgt"
version = "0.5.1"
edition = "2021"
authors = ["Tomasz Maciosowski <t4ccer@gmail.com>"]
license = "AGPL-3.0"
readme = "README.md"
repository = "https://github.com/t4ccer/cgt-tools"
description = "Combinatorial Game Theory framework"
homepage = "https://github.com/t4ccer/cgt-tools"
keywords = ["cgt"]
categories = ["mathematics", "science"]
documentation = "https://docs.rs/cgt"

[dependencies]
ahash = "0.8.3"
append-only-vec = "0.1.3"
auto_ops = "0.3.0"
itertools = "0.10.5"
nom = "7.1.3"
num-rational = { version = "0.4.1", default-features = false, features = ["std"]}
serde = { version = "1.0.172", optional = true, features = ["derive"]}
serde_repr = { version = "0.1.12", optional = true}
cgt_derive = { version = "0.5.1", path = "./cgt_derive"}
rayon = {version = "1.7.0", optional = true}
dashmap = { version = "5.5.3", features = ["inline"] }
rand = "0.8.5"

[dev-dependencies]
quickcheck = { version = "1.0", default-features = false }

[features]
default = []
serde = ["dep:serde", "dep:serde_repr", "num-rational/serde"]
rayon = ["dep:rayon"]

[lib]
path = "./cgt/lib.rs"

[workspace]
members = ["cgt_cli", "cgt_py", "cgt_derive"]

[profile.release]
lto = true
panic = "abort"
